<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Framework.Properties.Test" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Framework.Test" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Framework.Properties.Test>
            <setting name="Browser" serializeAs="String">
                <value>Chrome</value>
            </setting>
            <setting name="TimeoutInSecs" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ReportGenerator" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AzureCalculatorUrl" serializeAs="String">
                <value>https://calculator-web.azurewebsites.net/</value>
            </setting>
            <setting name="AzureCalculatorHost" serializeAs="String">
                <value>calculator-api.azurewebsites.net</value>
            </setting>
            <setting name="AzureCalculatorPath" serializeAs="String">
                <value>/api/calculate</value>
            </setting>
        </Framework.Properties.Test>
        <Framework.Test>
            <setting name="Browser" serializeAs="String">
                <value>Chrome</value>
            </setting>
            <setting name="TimeoutInSecs" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ReportGenerator" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AzureCalculatorUrl" serializeAs="String">
                <value>https://calculator-web.azurewebsites.net/</value>
            </setting>
            <setting name="AzureCalculatorApi" serializeAs="String">
                <value>https://calculator-api.azurewebsites.net/api/Calculate</value>
            </setting>
        </Framework.Test>
    </userSettings>
</configuration>