<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AzureCalculator.Properties.Test" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings file="appSettings.config">
      <add key="GenerateReport" value="True"/>
    </appSettings>
    <userSettings>
        <AzureCalculator.Properties.Test>
            <setting name="AzureCalculatorUrl" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="GenerateReport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Browser" serializeAs="String">
                <value>Chrome</value>
            </setting>
        </AzureCalculator.Properties.Test>
    </userSettings>
</configuration>